@import '../../style/variable.scss';
.container {
  border-radius: 7px;
  width: 95%;
  overflow: hidden;
  min-height: 400px;
  transition: all 0.7s;
  margin: 0;
  position: absolute;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   p {
     margin: 20px auto;
     max-width: 200px;
     text-align: center;
     font-size: 20px;
     color: $white;
   }
}
.Programmer {
  background-color: $programmer-color;
}
.Teacher {
  background-color: $teacher-color;
}
.Cashier {
  background-color: $cashier-color;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
